# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Chọn mysql cho môi trường chính hoặc sqlite để chạy demo nhanh.
DB_ENGINE=mysql
DB_NAME=sport_booking_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
